<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
          <img src="assets/imgs/GoodService.jpg" style="height:100px; margin:auto;"/>
      </ion-col>
      <ion-list col-12>
        <ion-item>
          <ion-label><ion-icon name="call"></ion-icon></ion-label>
          <ion-input [(ngModel)]="userPhone" type="tel" placeholder="Enter Phone Number"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list col-12>
        <ion-item>
          <ion-label><ion-icon name="key"></ion-icon></ion-label>
          <ion-input [(ngModel)]="userPass" type="password" placeholder="Enter Password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-col col-12>
        <button ion-button block (click)=doLogin()>Login</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
