<!--
  Generated template for the AddfollowupinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ADD INFORMATION</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid *ngIf="status=='COMPLETED'">
        <ion-row>
          <ion-card>
            <ion-card-header>
                <cite>Bill Details & Amount:</cite>
            </ion-card-header>
            <ion-card-content>
              <ion-col col-12>
                    <ion-textarea rows="5" [(ngModel)]="billDescription" placeholder="Enter Bill Description (Service charge/parts/etc..)" style="border: 1px solid grey;"></ion-textarea>
              </ion-col>
              <ion-item>
                  <br>
                  <ion-label><b>Amount (₹):</b></ion-label>
                  <ion-input type='number' [(ngModel)]="billAmount" (ngModelChange)=passAmount() placeholder="Rupees" style="border: 1px solid grey;"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>GST</ion-label>
                <ion-toggle color="royal" checked="false" [(ngModel)]="gst" (ngModelChange)=gstCalculate()></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-label>Total: {{totalAmount}}</ion-label>
              </ion-item>
         </ion-card-content>
          </ion-card>
        </ion-row>
    </ion-grid>

              <ion-grid>
                  <ion-row>
                    <ion-card>
                      <ion-card-header>
                          <cite>Add FollowUp Details:</cite>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-col col-12>
                          <ion-list>
                            <ion-item style="border: 1px solid grey;">
                              <ion-textarea [(ngModel)]="description" placeholder="Enter Message.." ></ion-textarea>
                            </ion-item>
                          </ion-list>
                        </ion-col>
                        <ion-col col-12>
                            <ion-item *ngIf="status=='OPEN'" >
                              <br>
                                <ion-label><b>FollowUp Date:</b></ion-label>
                                <ion-datetime min="{{minDate}}" max=2100-01-01 displayFormat="YYYY-MM-DD" [(ngModel)]="followUpDate"></ion-datetime>
                            </ion-item>
                            <ion-item *ngIf="status=='COMPLETED'">
                              <br>
                                <ion-label><b>Completed Date:</b></ion-label>
                                <ion-datetime min="{{minDate}}" max=2100-01-01 displayFormat="YYYY-MM-DD" [(ngModel)]="followUpDate"></ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col col-12>
                          <br>
                                <button ion-button primary (click)="openGallery()"><ion-icon name="camera" style="color:white"></ion-icon>&nbsp;&nbsp;Add Images</button>
                        </ion-col>
                        <ion-col col-12>
                          <button ion-button primary (click)="stopRecord()" *ngIf="recording"><ion-icon name="mic-off" style="color:white"></ion-icon>&nbsp;&nbsp;Stop Record</button>
                          <button ion-button primary (click)="startRecord()" *ngIf="!recording"><ion-icon name="mic" style="color:white"></ion-icon>&nbsp;&nbsp;Start Record</button>
                        </ion-col>
                      </ion-card-content>
                    </ion-card>
                  </ion-row>
                  <ion-row *ngIf=photos[0]>
                      <ion-card>
                          <ion-card-header>
                              <cite>Attached Images:</cite>
                          </ion-card-header>
                          <ion-card-content>
                          <ion-col col-4 *ngFor="let photo of photos; let id = index">
                                  <ion-card>
                                    <ion-icon name="close-circle" (click)="deletePhoto(id)"></ion-icon>
                                    <img [src]="photo" *ngIf="photo" />
                                  </ion-card>
                          </ion-col>
                          <p></p>
                        </ion-card-content>
                      </ion-card>
                  </ion-row>

                  <ion-row *ngIf="filePath">
                    <ion-card>
                        <ion-card-header>
                          <cite>Recorded Audio:</cite>
                        </ion-card-header>
                        <ion-card-content>  
                          <ion-col col-12>
                            <label>{{fileName}} </label><button ion-button clear item-end small (click)="playAudio()"><ion-icon name="play" style="color:white"></ion-icon></button>
                          </ion-col>
                        </ion-card-content>
                      </ion-card>
                  </ion-row>
                  <ion-row>
                      <ion-col col-6>
                        <button ion-button block (click)="sendInfo()"><p>Submit <ion-icon name="checkmark-circle" style="color:white"></ion-icon></p></button>
                      </ion-col>
                      <ion-col col-6>
                        <button ion-button block (click)="cancel()"><p>Cancel <ion-icon name="close-circle" style="color:white"></ion-icon></p></button>
                      </ion-col>
                  </ion-row>
              </ion-grid>
</ion-content>
