<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
        <div id="avatar">
          <img src="{{st_details.photo}}" alt="user image">
        </div>
        
        <ion-card>
          <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-4>
                      <p><ion-icon name="person"></ion-icon><b> Name:</b></p>
                    </ion-col>
                    <ion-col col-8>
                      <p>{{st_details.name}}</p>
                    </ion-col>
                    <ion-col col-4>
                      <p><ion-icon name="call"></ion-icon><b> Phone:</b></p>
                    </ion-col>
                    <ion-col col-8>
                      <p>{{st_details.st_phone}}</p>
                    </ion-col>
                    <ion-col col-4>
                      <p><ion-icon name="home"></ion-icon><b> Address:</b></p>
                    </ion-col>
                    <ion-col col-8>
                      <p>{{st_details.address}}, {{st_details.city}}, {{st_details.state}} - {{st_details.zip}}</p>
                    </ion-col>
                    <ion-col col-4>
                      <p><ion-icon name="list"></ion-icon><b> Category:</b></p>
                    </ion-col>
                    <ion-col col-8 *ngIf='st_category'>
                      <div *ngFor='let cat of category;'>
                        <p *ngIf='st_category[cat]==1'><ion-icon name="checkmark"></ion-icon> {{cat}}</p>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-row>
</ion-content>
