<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LEADS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-segment [(ngModel)]="status">
      <ion-segment-button (click)="getLeads('ASSIGNED')" value='ASSIGNED'>
        <b style='font-size: 16px'>ASSIGNED</b>
      </ion-segment-button>
      <ion-segment-button (click)="getLeads('ACCEPTED')" value='ACCEPTED'>
        <b style='font-size: 16px'>ACCEPTED</b>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list>
    <div *ngFor="let x of allLeads" (click)="itemSelected(x)">
      <ion-card>
        <ion-card-content>
          <b>Lead Id:</b> {{x.l_id}}<br>
          <b>Category:</b> {{x.category}} <br>
          <b>Brand:</b> {{x.brand}}
        </ion-card-content>
      </ion-card>
    </div>
    
  </ion-list>
</ion-content>
