<ion-menu [content]="content">
  <ion-header>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/GoodService.jpg">
      </ion-avatar>
      <ion-title><p style="font-size: 18px; color: rgb(0, 72, 134);">GOOD SERVICE</p></ion-title>
    </ion-item>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.iconimg}}"></ion-icon>&nbsp;&nbsp;{{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>