<!--
  Generated template for the LeaddetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LEAD DETAILS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <ion-segment [(ngModel)]="lead">
      <ion-segment-button (click)="getLeadInfo(leadinfo.l_id)" value ='details' >
        <b style='font-size: 16px'>DETAILS</b>
      </ion-segment-button>
      <ion-segment-button (click)="getFollowUpInfo(leadinfo.l_id)" value ='followup'>
        <b style='font-size: 16px'>FOLLOW-UP</b>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="lead">
    <ion-list *ngSwitchCase="'details'">
      <ion-card>
        <ion-card-header>
          <cite>Customer Details:</cite>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-4>
                <p><ion-icon name="person"></ion-icon><b> Name:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{customerAddress.name}}</p>
              </ion-col>
              <ion-col col-4>
                <p><ion-icon name="call"></ion-icon><b> Phone:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{leadinfo.c_phone}}</p>
              </ion-col>
              <ion-col col-4>
                <p><ion-icon name="mail"></ion-icon><b> Email:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{customerAddress.email}}</p>
              </ion-col>
              <ion-col col-4>
                <p><ion-icon name="home"></ion-icon><b> Address:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{customerAddress.address}}, {{customerAddress.city}}, {{customerAddress.state}} - {{customerAddress.zip}}<br> Phone: {{customerAddress.optional_phone}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <cite>Lead Details:</cite>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-4>
                <p><ion-icon name="eye"></ion-icon><b> Lead Id:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{leadinfo.l_id}}</p>
              </ion-col>
              <ion-col col-4>
                <p><ion-icon name="apps"></ion-icon><b> Category:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{leadsDetails.category}}</p>
              </ion-col>
              <ion-col col-4>
                <p><ion-icon name="radio-button-off"></ion-icon><b> Brand:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{leadsDetails.brand}}</p>
              </ion-col>
              <ion-col col-5>
                <p><ion-icon name="information-circle"></ion-icon><b> Description:</b></p>
              </ion-col>
              <ion-col col-7>
                <p>{{leadsDetails.description}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'followup'">
      <ion-grid>
        <ion-row>
          <ion-col col-12 *ngFor="let x of followupmsg">
            <p>
              <b>Worked By:</b> {{x.st_phone}}<br>
              <b>Added Date:</b> {{x.date}}<br>
              <b>FollowUp Date:</b> {{x.followUpDate}}<br>
              <b>Message:</b> {{x.message}}<br>
              <span *ngIf="x.audio">
                <audio controls>
                        <source [src]="x.audio">
                </audio>
              </span>
            </p>
            <ion-col col-4 *ngFor="let y of x.images">
              <img src="{{y.image}}" width="100" height="100">
            </ion-col>
            <br>
            <hr>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf='withoutGstBills'>
        <ion-row>
            <ion-card>
                <ion-card-header>
                  <cite>Without GST Bills:</cite>
                </ion-card-header>
            
               <ion-card-content>
               <div *ngFor="let b of withoutGstBills;">
                  <ion-col col-6>
                    <b>Bill Date:</b> {{b.date}}
                  </ion-col>
                  <ion-col col-6>
                      <button ion-button small (click)=viewBill(b)><p>VIEW &nbsp;<ion-icon name="eye" style='color:white'></ion-icon></p></button>
                  </ion-col>
                </div>
               </ion-card-content>
            </ion-card>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf='withGstBills'>
        <ion-row>
            <ion-card>
                <ion-card-header>
                  <cite>With GST Bills:</cite>
                </ion-card-header>
            
               <ion-card-content>
               <div *ngFor="let b of withGstBills;">
                  <ion-col col-6>
                    <b>Bill Date:</b> {{b.date}}
                  </ion-col>
                  <ion-col col-6>
                      <button ion-button small (click)=viewBill(b)><p>VIEW &nbsp; <ion-icon name="eye" style='color:white'></ion-icon></p></button>
                  </ion-col>
                </div>
               </ion-card-content>
            </ion-card>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>

  <ion-grid>
      <div *ngIf="leadsDetails.status=='ASSIGNED'">
        <ion-row>
          <ion-col col-6>
            <button ion-button block (click)=accepted(leadinfo.l_id)><p>Accept &nbsp;<ion-icon name="checkmark-circle" style="color:white"></ion-icon></p></button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block (click)=reject(leadinfo.l_id)><p>Reject &nbsp;<ion-icon name="close-circle" style="color:white"></ion-icon></p></button>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="leadsDetails.status=='ACCEPTED'">
        <ion-row>
          <ion-col col-6>
            <button ion-button block (click)="addFollowUpInfo('OPEN')"><p>FollowUp &nbsp;<ion-icon name="arrow-forward" style="color:white"></ion-icon></p></button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block (click)="addFollowUpInfo('COMPLETED')"><p>Completed &nbsp;<ion-icon name="checkmark-circle" style="color:white"></ion-icon></p></button>
          </ion-col>
        </ion-row>
      </div>
  </ion-grid>
</ion-content>
